
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<link rel = "stylesheet" href="signup.css">
<title>註冊 (register)</title>

<body>
<form action="register" method="post" class="form-signup">

    <h2 style="color:rgb(0, 255, 0)">註冊介面</h2>

    <% if (message != undefined){ %> 
      <div class="alert alert-danger"><%= message %></div>
    <%}%>
    
    <p>
      <label>帳號</label><br/>
      <input name="id" type="text" value="" class="form-control">
    </p>
    <p>
      <label>密碼</label><br/>
      <input name="password" type="password" value="" class="form-control">
    </p>

    <button>送出</button>
    <a href="/">首頁</a>
  </form>

</body>