<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<link rel = "stylesheet" href="signin.css">
<title>登入</title>

<body>
<form action="login" method="post" class="form-signin">

    <h2 style="color:green">登入介面</h2>

    <% if (message != undefined){ %> 
    <div class="alert alert-danger"><%= message %></div>
    <%}%>

    <p>
      <label>帳號</label><br/>
      <input name="id" type="text" value="" class="form-control">
    </p>
    <p>
      <label>密碼</label><br/>
      <input name="password" type="password" value="" class="form-control">
    </p>
    <button type="submit">登入</button>
    <a href="register" >註冊</a>
    <a href="/">首頁</a>
  </form> 